{% load static %}
<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'is412project/Login-Form-Clean.css' %}" />
    <link rel="stylesheet" href="{% static 'is412project/styles.css' %}" />
</head>

<body>
  {% block content %}
  <section class="login-clean">
      <form method="post">
        {% csrf_token %}
        
          <h2 class="visually-hidden">Login Form</h2>
          <div class="illustration"></div><input class="form-control" type="text">
          <div class="mb-3"></div>
          <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
          <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div>
      </form>
      {% endblock %}
  </section>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>





